## Prepare Review Data
* Prepare the collected data for analysis.

In [73]:
# Import the required libraries
import pandas as pd
import numpy as np

In [74]:
#  Functions for Duplicate checks 
def get_exact_dups(df):
    '''
    Returns duplicates
    '''
    dups = df[df.duplicated()]
    return dups

def get_review_text_dups(df, col_names):
    '''
    Returns duplicates based on given column name
    '''
    dups = df[df.duplicated(subset=col_names)]
    return dups

In [75]:
raw_reviews_df = pd.read_csv('../data/reviews.csv', index_col=0)
raw_reviews_df.head(1)

,star_rating,country,datetime,content
id,,,,
a98cffff-99b6-4ab4-a17f-50e328c1fab3,3 stars: Average,GB,2021-06-21T07:42:01+00:00,The product itself is wonderful ...

In [76]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1500 entries, 60cfb8f9f9f48706707b8f10 to 5e087630c845450914ada0d0
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   star_rating      1500 non-null   object
 1   location         1500 non-null   object
 2   datetime         1500 non-null   datetime64[ns, UTC]
 3   content          1500 non-null   object
 4   reviewYear       1500 non-null   int64
 5   reviewYearMonth  1500 non-null   object
 6   rating           1500 non-null   object
dtypes: datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 93.8+ KB

In [77]:
# check for duplicates where they might be troublesome or interesting
print(f"total review count {raw_reviews_df.shape[0]}")

col_names=['content']
for col_name in col_names:
    print(f"total unique {col_name}: {raw_reviews_df[col_name].unique().size}")

total review count 1500
total unique content: 1493

In [78]:
# DATA TYPE CONVERSIONS
#
# Set the datetime column to datetime data type
raw_reviews_df['datetime'] = pd.to_datetime(raw_reviews_df['datetime'])

In [79]:
# NEW COLUMN CREATION
#
# Create new date solumns - reviewYear as integer and reviewDate as string with format YYYY-MM
raw_reviews_df['reviewYear'] = raw_reviews_df.apply(lambda row: row['datetime'].year, axis=1)
raw_reviews_df['reviewYearMonth'] = raw_reviews_df.apply(lambda row: row['datetime'].strftime('%Y-%m'), axis=1)

# Create simplified rating column - the first char of rating can be cast to integer 1-5
raw_reviews_df['rating'] = raw_reviews_df.apply(lambda row: row['star_rating'][0], axis=1)

In [80]:
raw_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1500 entries, a98cffff-99b6-4ab4-a17f-50e328c1fab3 to a6104a9d-a3a7-4655-a953-46174ce109a8
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   star_rating      1500 non-null   object
 1   country          1500 non-null   object
 2   datetime         1500 non-null   datetime64[ns, UTC]
 3   content          1500 non-null   object
 4   reviewYear       1500 non-null   int64
 5   reviewYearMonth  1500 non-null   object
 6   rating           1500 non-null   object
dtypes: datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 93.8+ KB

In [81]:
raw_reviews_df.head(1)

,star_rating,country,datetime,content,reviewYear,reviewYearMonth,rating
id,,,,,,,
a98cffff-99b6-4ab4-a17f-50e328c1fab3,3 stars: Average,GB,2021-06-21 07:42:01+00:00,The product itself is wonderful ...,2021,2021-06,3

In [82]:
raw_reviews_df.to_csv('../data/prepped_reviews.csv', index=True, header=True)